<ion-view view-title="{{navTitle}}">
    <ion-content style="margin-bottom: 50px;">
        <div class="list card">
            <div class="item">
                <!-- <img src="papagaio.jpg"> -->
                <h2 align="center">Rádio Cidade FM 87.9</h2>
                <p align="center">Monte Carlo - Santa Catarina</p>
            </div>
            <div class="item item-body item-text-wrap">
                <p align="center"> Av. Enio Lopes de Albuquerque, Monte Carlo</p>
            </div>
        </div>
        <div class="list">
            <a class="item item-icon-left" ng-click="dialPhone('4935460912')">
                <i class="icon ion-ios-telephone"></i> (49) 3546-0912
            </a>
            <a class="item item-icon-left" ng-click="dialCell('5549999542228')">
                <i class="icon ion-social-whatsapp-outline"></i> (49) 99954-2228
            </a>
            <a class="item item-icon-left" ng-click="openSite()">
                <i class="icon ion-android-globe"></i> www.cidadefm10.com.br
            </a>
            <a class="item item-icon-left" ng-click="openFb()">
                <i class="icon ion-social-facebook"></i> facebook.com/radiocidademontecarlo
            </a>
        </div>
    </ion-content>
</ion-view>
